body, #top-nav-bar {
    min-width: 310px;
}

[ng-view] {
    padding-top: 35px;
    padding-bottom: 35px;
}

[ng-cloak] {
    display: none;
}

#top-nav-bar {
    height: 35px;
    position: fixed;
    z-index: 10;
    overflow: hidden;
    color: green;
}

#top-nav-bar .element {
    padding: 4px 10px 4px 10px;
}

#top-nav-bar .element:first-child {
    padding-top: 1px;
    padding-left: 5px;
}

#top-nav-bar .element:first-child:hover {
    background-color: #e1ebdf;
    color: green;
}

#top-nav-bar .input-control.text {
    top: 0px !important;
}

#logo {
    height: 30px;
    width: 32px;
}

#search-input {
    width: 135px;
}

#app-name {
    font-weight: bold;
    display: inline;
    position: relative;
    top: -2px;
}

#app-name span {
    font-size: 11px;
    position: absolute;
    bottom: -9px;
    left: 0;
}

#page-footer {
    position: fixed;
    z-index: 10;
    bottom: 0px;
    background-color: #eeeeee;
    width: 100%;
    height: 35px;
    white-space: nowrap;
}

#page-footer .twitter-share-button {
    position: relative;
    top: 6px;
}

#about * {
    color: green;
    font-size: 8pt;
}

#about ul {
    list-style-type: none;
}

#about h4, #about a:hover {
    font-weight: bold;
}

#no-search-results {
    padding: 20px;
}

.list-subtitle {
    color: green !important;
}

.list-item-picture {
    height: 40px;
    width: 40px;
}

.metro .listview-outlook .list:hover {
    background-color: #e1ebdf;
    outline: none;
}

.metro .listview-outlook .list:hover .list-content {
    border-left: 3px #A9C99F solid;
}

.metro .listview-outlook .list:active {
    background-color: #A9C99F !important;
}

.group-title {
    position: relative;
}

.group-count {
    position: absolute;
    right: 10px;
    top: 1px;
    color: white;
    background-color: green !important;
}

.metro .label {
    font-size: 85%;
    line-height: 85%;
}

.backbutton {
    margin-top: 6px;
    background-color: #10844D !important;
    color: white !important;
    font-size: 8pt !important;
}

.detail {
    padding: 0px 8px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    line-height: 200px;
    height: 160px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #e1ebdf;
    text-align: center;
  
    z-index: 11;
    outline: 9999px solid rgba(0,0,0,0.5);
}