body, #top-nav-bar {
    min-width: 310px;
}

[ng-view] {
    padding-top: 60px;
    padding-bottom: 40px;
}

[ng-cloak] {
    display: none;
}

#top-nav-bar {
    height: 60px;
    position: fixed;
    z-index: 999;
}

#top-nav-bar .input-control.text {
    top: 0px !important;
}

#logo {
    height: 30px;
    width: 32px;
}

#app-name {
    font-weight: bold;
    color: green;
}

#page-footer {
    position: fixed;
    z-index: 999;
    bottom: 0px;
    padding: 0px 8px;
    background-color: #eeeeee;
    width: 100%;
    height: 40px;
}

.list-subtitle {
    color: green !important;
}

.list-item-picture {
    height: 40px;
    width: 40px;
}

.group-title {
    position: relative;
}

.group-count {
    position: absolute;
    right: 10px;
    top: 1px;
    color: white;
    background-color: green !important;
}

.metro .label {
    font-size: 85%;
    line-height: 85%;
}

.backbutton {
    margin-top: 6px;
    background-color: #10844D !important;
    color: white !important;
    font-size: 8pt !important;
}

.detail {
    padding: 0px 8px;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: 10px;
}