body, nav {
    min-width: 310px;
}

nav {
    height: 60px;
    position: fixed;
    z-index: 999;
}

[ng-view] {
    padding-top: 60px;
}

[ng-cloak] {
    display: none;
}

#logo {
    height: 30px;
    width: 32px;
}

#app-name {
    font-weight: bold;
    color: green;
}

.list-item-picture {
    height: 40px;
    width: 40px;
}

.metro .label {
    font-size: 85%;
    line-height: 85%;
}