<div ng-if="!showPopulars" class="listview-outlook">
    
    <!-- TODO: Implement grouping as seen on http://metroui.org.ua/lists.html -->
    <a ng-repeat="item in searchResults | orderBy: 'descriptor' | limitTo: searchCount > 10? 3 : 10 track by item.id" 
       ng-attr-href="#/items/{{item.id}}" 
       class="list">
        
        <div class="list-content">
            <span class="list-title">
                {{item.descriptor}}
                <img class="list-item-picture" src="images/{{item.pictureUrl}}" class="cycle polaroid">
            </span>
            <span class="list-subtitle">{{item.category}}</span>
        </div>
    </a>
    
    <div ng-if="groupedSearchResults.length" class="listview-outlook">
        <div ng-repeat="groupEntry in groupedSearchResults" class="list-group">
            
            <a href="" class="group-title">{{groupEntry.category || 'Non catégorisé'}}</a>
            
            <div ng-repeat="item in groupEntry.items track by item.id" class="group-content">
                <a href="#" class="list">
                    <div class="list-content">
                        <span class="list-title">
                            {{item.descriptor}}
                            <img class="list-item-picture" src="images/{{item.pictureUrl}}" class="cycle polaroid">
                        </span>
                        <span class="list-subtitle">{{item.category}}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>  
</div>
    
<div ng-if="showPopulars" class="listview-outlook">
    <a ng-repeat="item in mostPopularItems track by item.id" ng-attr-href="#/items/{{item.id}}" class="list">
        <div class="list-content">
            <span class="list-title">
                <i class="icon-star fg-red">{{$index + 1}}</i> 
                {{item.descriptor}}
                <img class="list-item-picture" src="images/{{item.pictureUrl}}" class="cycle polaroid">
            </span>
            <span class="list-subtitle">{{item.category}}</span>
        </div>
    </a>
</div>