<div ng-if="!showPopulars" class="listview-outlook">
    
    <!-- TODO: Implement grouping as seen on http://metroui.org.ua/lists.html -->
    <a ng-repeat="item in searchResults | orderBy: 'descriptor' | limitTo: searchCount > 10? 3 : 10 track by item.id" 
       ng-attr-href="#/items/{{item.id}}" 
       class="list">
        
        <div class="list-content">
            <span class="list-title">
                {{item.descriptor}}
                <img class="list-item-picture" src="images/{{item.pictureUrl}}" class="cycle polaroid">
            </span>
            <span class="list-subtitle">{{item.category}}</span>
        </div>
    </a>
    
    <div class="listview-outlook">
        <div ng-repeat="(cat, items) in searchResults | limitTo: 25 | orderBy: ['category', 'descriptor'] | groupByKey: 'category'"
             class="list-group collapsed">
            
            <a href="" class="group-title">{{cat}}</a>
            
            <div class="group-content">
                <div ng-repeat="item in items track by item.id" class="list-content">{{item.descriptor}}</div>
            </div>
        </div>
    </div>
</div>
    
<div ng-if="showPopulars" class="listview-outlook">
    <a ng-repeat="item in mostPopularItems track by item.id" ng-attr-href="#/items/{{item.id}}" class="list">
        <div class="list-content">
            <span class="list-title">
                <i class="icon-star fg-red">{{$index + 1}}</i> 
                {{item.descriptor}}
                <img class="list-item-picture" src="images/{{item.pictureUrl}}" class="cycle polaroid">
            </span>
            <span class="list-subtitle">{{item.category}}</span>
        </div>
    </a>
</div>

<footer ng-if="!showPopulars">
    <span>
        <strong>{{searchCount}}</strong>
        <ng-pluralize 
            count="searchCount" 
            when="{ one: 'item', other: 'items' }"></ng-pluralize>
    </span>
</footer>