<div ng-show="!showPopulars" class="listview-outlook">
    
    <!-- TODO: Implement grouping as seen on http://metroui.org.ua/lists.html -->
    <a ng-repeat="item in model.searchResults | limitTo: 25" ng-attr-href="#/items/{{item.id}}" class="list">
        <div class="list-content">
            <span class="list-title">
                {{item.descriptor}}
                <img class="list-item-picture" src="images/{{item.pictureUrl}}" class="cycle polaroid">
            </span>
            <span class="list-subtitle">{{item.category}}</span>
        </div>
    </a>
</div>
    
<div ng-show="showPopulars" class="listview-outlook">
    <a ng-repeat="item in model.mostPopularItems" ng-attr-href="#/items/{{item.id}}" class="list">
        <div class="list-content">
            <span class="list-title">
                <i class="icon-star fg-red">{{$index + 1}}</i> 
                {{item.descriptor}}
                <img class="list-item-picture" src="images/{{item.pictureUrl}}" class="cycle polaroid">
            </span>
            <span class="list-subtitle">{{item.category}}</span>
        </div>
    </a>
</div>

<footer ng-show="!showPopulars">
    <span>
        <strong>{{model.searchResults.length}}</strong>
        <ng-pluralize 
            count="model.searchResults.length" 
            when="{ one: 'item', other: 'items' }"></ng-pluralize>
    </span>
</footer>